<%- include("partials/header"); -%>

<ul class="recipes">
    <li class="recipe">
        <img src="/public/banana.png" alt="smoothie recipe icon">
        <h4>Banana Boost</h4>
        <p>Banana, Vanilla ice cream, Milk</p>
    </li>
    <li class="recipe">
        <img src="/public/mango.jpg" alt="smoothie recipe icon">
        <h4>Mango Boost</h4>
        <p>Mango, Strawberry ice cream, Milk</p>
    </li>
    <li class="recipe">
        <img src="/public/oranges.png" alt="smoothie recipe icon">
        <h4>Oranges Boost</h4>
        <p>Oranges, Strawberry ice cream, Milk</p>
    </li>
    <li class="recipe">
        <img src="/public/Avocado.png" alt="smoothie recipe icon">
        <h4>Avocado Boost</h4>
        <p>Avocado, Strawberry ice cream, Milk</p>
    </li>
    <li class="recipe">
        <img src="/public/strawberry.png" alt="smoothie recipe icon">
        <h4>Strawberry Boost</h4>
        <p>Strawberry ice cream, Milk</p>
    </li>
    <li class="recipe">
        <img src="/public/redapple.png" alt="smoothie recipe icon">
        <h4>Apple Boost</h4>
        <p>Apple, Strawberry ice cream, Milk</p>
    </li>
</ul>

<%- include("partials/footer"); -%>